.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form__form-field--full-width {
  width: 100%;
}

.login-form__submit-login {
}

.login-form__server-error {
  color: red;
}
